@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@500&display=swap');

body{
    background-color: rgba(252, 246, 246, 0.15);
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
header nav{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    color: black;
}
ul h3{
    font-size:24px;
}
.ul-right{
    margin-right: 5%;
    margin-top: 1.5%;
}
nav li{
    list-style: none;
    margin-right: 35px;
}
nav li:hover{
    font-style: italic;
}
.icon{
    margin: 10px;
    margin-right: 15px;
    justify-items: center;
}

/* Body part */

.container-one{
    display: flex;
    margin: 10px 20px;
   

}
.text h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 133px;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
.text p{
    margin: 16px;
    margin-left: 120px;
    margin-right: 133px;
}
.preebook{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #E02C6D;
    color: white;
    border: 0;
    border-radius: 41px;
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 133px;
}


.container-one .image img{
    width: 440px;
    height: 414px;
}

.image img:hover {
    
    
    transform:translate(500px, -20px);
    transform: rotate(-60deg);
    transform-origin: top right;
    
  }

hr{
    width: 1107px;
    margin-left:  165px;
    margin-top: 50px;
    border: 1px solid #D1D1D1;
}

/* Advertisement part */

.advertisement{
    margin-left: 195px;
}
.advertisement img{
    padding-right: 61px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.container-three h3{
    font-size:28px;
     margin-left: 37%;
}

.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    
    margin-left: 130px;
    margin-right: 130px;
}
.product{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(250, 68, 68);
    height: 480px;
    width: 300px;
    margin: 30px;
}

.product-banner img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
    justify-content: center;
}

.product-info h3{
    margin-top: -10px;
    margin-left: 0px;
    color: #18191F;
    margin-bottom: 6px;
    font-size: 28px;
}
.product-info p{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: -2px;
}

.star{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.star,p{
    margin-right: 11px;
}
.star-yellow{
    color: #FFC014;
}
.star-gray{
    color:  #AEAEAE;
    margin-left: 3.24px;
    margin-right: 10.71px;
}
.product-explain p{
    margin-top: 0;
    font-size: 14px;
}
.see-button{
    margin-top: 250px;
    margin-left: 78%;
    text-decoration: none;
    padding: 10px 40px;
    color: #E02C6D;
   border: 0;
}


footer{
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: 0;
    width: 101.2%;
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
footer h1{
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

footer .social{
    font-size: 30px;
    
}
.social a{
    color: white;
    padding-right: 10px;
}
