@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Poppins:wght@500&display=swap');

body{
    background-color:whitesmoke;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
header nav{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    color: black;
}
ul h3{
    font-size:24px;
}
.ul-right{
    margin-right: 5%;
    margin-top: 1.5%;
}
nav li{
    list-style: none;
    margin-right: 35px;
}
nav li:hover{
    font-style: italic;
}
.icon{
    margin: 10px;
    margin-right: 15px;
    justify-items: center;
}

/* Body part */

.head{
    display: flex;
    margin: 10px 20px;
   

}

.text h1{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 133px;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
.text p{
    margin: 16px;
    margin-left: 120px;
    margin-right: 133px;
}
.preebook{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #E02C6D;
    color: white;
    border: 0;
    border-radius: 41px;
    margin-top: 15px;
    margin-left: 120px;
    margin-right: 133px;
}
.fa-arrow-right{
    margin-left: 5px;
}


.container-one .image img{
    width: 440px;
    height: 414px;
}

.image img:hover {
    
    
    transform:translate(500px, -20px);
    transform: rotate(-60deg);
    transform-origin: top right;
    
  }

hr{
    width: 1107px;
    margin-left:  165px;
    margin-top: 50px;
    border: 1px solid #D1D1D1;
}

/* Advertisement part */

.advertisement{
    margin-left: 195px;
    display: flex;
}
.advertisement img{
    padding-right: 61px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.container-three h3{
    font-size:28px;
     margin-left: 40%;
}

.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-gap: 2em;
    margin-left: 130px;
    margin-right: 138px;
}
.product{
    padding: 10px 10px;
    border-radius: 10px;
    background-color: white;
    height: 480px;
    width: 300px;
    margin: 30px;
    align-items: center;
    box-shadow: 1px 1px 2px 2px lavender;
}

.product-banner img{
    width: 300px;
    height: 256px;
    margin-bottom: 16px;
    justify-content: center;
}

.product-info h3{
    margin-top: -10px;
    margin-left: 0px;
    color: #18191F;
    margin-bottom: 6px;
    font-size: 28px;
}
.product-info p{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: -2px;
}

.star{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.star,p{
    margin-right: 11px;
}
.star-yellow{
    color: #FB8200;
}
.star-half{
    color:  #FB8200;
    margin-left: 3.24px;
    margin-right: 10.71px;
}
.product-explain p{
    margin-top: 0;
    font-size: 14px;
    color: #787885;
}
.see-button{
    margin-top: 10px;
    margin-left: 75%;
    text-decoration: none;
    padding: 10px 40px;
    color: #E02C6D;
   border: 0;
}

.container-four h3{
    margin-top: 5%;
    font-size:28px;
    margin-left: 40%;
}

.special{
    display: flex;
}

.my-make {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.frame {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    margin: 15px;
    margin-left: 30px;
    overflow: hidden;
}

.bike img {
    width: 100%;
    border-radius: 30px;
}

.bike-detail {
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
}

.bike-detail h4 {
    margin-top: 10px;
    background-color: rgba(243, 223, 168, 0.564);
    color: rgb(0, 0, 0);
    text-align: center;
}

.bike-detail p {
    margin-left: 15px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

.frame:hover .bike-detail {
    display: block;
    background-color: rgba(27, 23, 13, 0.7);
   
}

.frame:hover .bike {
    transform: scale(1.5) skew(-30deg);
    transition: transform 2s ease-in-out;
}
.about-bike{
    margin-top: 25px;
}
.see-button2{
    
    
    text-decoration: none;
    padding: 10px ;
    color: #E02C6D;
   border: 0;
}

.button3{
    position: relative;
    border: 0;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, #c21273,#FF008E);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 0 #a5075e;
}

footer{
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: 0;
    width: 101.2%;
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
   
}
footer h1{
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}

footer p{
    color: #D9DBE1;
}
footer .social{
    font-size: 30px;
    
}
.social a{
    color: #D9DBE1;
    padding-right: 10px;
}

/* ---------------------
    Media Queries 
-----------------------*/

/* Mobile Devices */

@media (max-width: 700px) {
    header nav {
        flex-wrap: wrap;
        width: 100%;
        margin-left: -110px;
        margin-right: 0;
        font-size: 11px;
    }

    body{
        width: 100%;
    }
    .head{
        
        flex-wrap: wrap;
        margin-left: -10px;
    }

     .collection{
         margin-left: 40px;
        grid-template-columns: repeat(1, 1fr);
       
    }
    .container-three .popular{
        margin-left:90px;
       
    }
    .container-three a{
        margin-left: 180px;
        margin-bottom: 20px;
    }
    .advertisement{
        flex-wrap: wrap;
        
        
    }
    .special{
        flex-wrap: wrap;
    }

    hr{
        width: 150px;
    }

    .about-bike{
        margin-left: 70px;
    }

    footer{
        width: 100%;
        margin-left: 30px;
    }

   
}

@media (min-width:700px) and (max-width:900px) {

    header nav {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        
    }

    body{
        width: 100%;
    }
    .head{
        
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .container-three .popular{
        margin-left:260px;
       
    }

     .collection{
         margin-left: -25px;
         padding: 10px 4px;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .container-three a{
        margin-left: 180px;
        margin-bottom: 20px;
    }
    hr{
        width: 500px;
    }
    .container-three .see-button{
        margin-left: 260px;
        margin-top: -550px;
        border:magenta;
        border-radius: 20px;
    }
    .advertisement{
        flex-wrap: wrap;
        
    }
    .special{
        flex-wrap: wrap;
    }

    .my-make{
        margin-left: 240px;
    }
    
    .about-bike{
        margin-left: 70px;
    }

    footer{
        width: 110%;
        justify-content: center;
    }

   
}
 

@media (min-width: 900px) {
    body {
        grid-template-columns: repeat( 1fr);
    }
}